*, :before, :after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.loader {
  margin: 80px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle, lightgray, gray, darkgray);
}

.loader__half {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.loader__half--right {
  right: 0;
  left: auto;
}
.loader__indicator {
  height: 100%;
  width: 200%;
  border: 8px solid lightblue;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  border-bottom-color: transparent;
}
.loader__indicator--left {
  border-right-color: transparent;
  transform: rotate(-225deg);
  animation: rotate-left-side 5s 5s linear forwards;
} 
.loader__indicator--right {
  border-left-color: transparent;
  right: 0;
  left: auto;
  transform: rotate(-135deg);
  animation: rotate-right-side 5s linear forwards;
}
.loader:before {
  content: "";
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 80px auto;
  display: block;
  color: white;
  animation: count 10s 1s step-start forwards;
}


@keyframes count {
  0% {
    content: "";
  }
  10% {
    content: "1";
  }
  20% {
    content: "2";
  }
  30% {
    content: "3";
  }
  40% {
    content: "4";
  }
  50% {
    content: "5";
  }
  60% {
    content: "6";
  }
  70% {
    content: "7";
  }
  80% {
    content: "8";
  }
  90% {
    content: "9";
  }
  100% {
    content: "10"
  }
}
@keyframes rotate-right-side {
  from {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes rotate-left-side {
  from {
    transform: rotate(-225deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
