*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  padding: 40px;
}
.container {
  width: 980px;
  padding: 0 15px;
  margin:0 auto;
}
.list {
  margin-bottom: 70px;
}
.blocks {
  box-shadow: 2px 0px 22px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #E9E6E6; 
}
.block {
  padding: 15px;
  border-bottom: 1px solid #E9E6E6;
  display: table;
}
.block-cell {
  display: table-cell;
  vertical-align: middle;
}
.block-icon {
  width: 36px;
  height: 36px;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 15px;
}
.icon-people-position {
  background-position: -62px -221px;
}
.icon-finger-position {
  background-position:-414px -383px; 
}
.icon-droid-position {
  background-position: -30px -92px;
}
.block-text {
  width: 100%;
}
.status {
  float: right;
  color: white;
  border-radius: 5px;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
}
.button-status-approved {
  background-color: green;
}
.button-status-pending {
  background-color: orange;
}
.button-status-error {
  background-color: red;
}
.block:last-child {
  border-bottom: none;
}

.circle {
  margin: 0 auto;
  background: radial-gradient(circle, white, steelblue, darkblue);
  background-size: 5px 5px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 30px 0px rgba(225,0,0,0.6) inset,
    0px -30px 0px rgba(255,255,0,0.6) inset,
    -30px -20px 0px rgba(255,0,255,0.6) inset,
    30px 10px 0px rgba(0,255,255,0.6) inset,
    20px 20px 0px rgba(0,225,0,0.6) inset,
    -20px 0px 0px rgba(0,0,225,0.6) inset;
}
